<!doctype html>
<html lang="es">

{{ partial "head.html" . }}

<body>
  {{ partial "nav.html" . }}
  
  <div class="container-fluid">
      {{ block "main" . }}{{ end }}
  </div>

  {{ partial "footer.html" . }}

  {{ partial "bootstrap-js.html" . }}
  {{ partial "google-analytics-async.html" . }}
  {{ partial "mastodon-js.html" . }}
  {{ partial "cookie-consent.html" . }}
  <script>
    if (window.netlifyIdentity) {
      window.netlifyIdentity.on("init", user => {
        if (!user) {
          window.netlifyIdentity.on("login", () => {
            document.location.href = "/admin/";
          });
        }
      });
    }
  </script>
</body>

</html>
