<div class="pt-5 bg-dark text-light d-flex justify-content-center">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="p-4 col-md-4 text-left">
        <h2 class="text-light">{{.sobre.titulo}}</h2>
        <p>{{.sobre.subtitulo}}</p>
      </div>
      <div class="p-4 col-md-4 text-left">
        <h2 class="text-light">Menu</h2>
        <ul class="list-unstyled"> 
          {{ range $.items }}
            <a href="{{.url}}" class="text-light">{{.title}}</a> <br> 
          {{ end }}
        </ul>
      </div>
      <div class="p-4 col-md-4 text-left">
        <h2 class="text-light">{{.contacto.titulo}}</h2>
        <ul class="list-unstyled"> 
          <a class="text-light">{{.contacto.telefono}}</a><br>
          <a class="text-light">{{.contacto.mail}}</a><br>
          <a class="text-light">{{.contacto.direccion}}</a><br>
      </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 mt-3">
        <p class="text-center">© Copyright 2020 Trabecular - Desarrollado por <a href="https://tothemoon.uy" class="text-light"> To The Moon </a> </p>
      </div>
    </div>
  </div>
</div>