<div class="pt-5 bg-dark text-light d-flex justify-content-center">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="p-4 col-md-4 text-center">
        <h2 class="mb-4 text-light">Trabecular</h2>
        <p>A tu medida</p>
      </div>
      <div class="p-4 col-md-4 text-center">
        <h2 class="mb-4 text-light">Menu</h2>
        <ul class="list-unstyled"> 
          <a href="#" class="text-light">{{.item1}}</a> <br> 
          <a href="#" class="text-light">{{.item2}}</a> <br> 
          <a href="#" class="text-light">{{.item3}}</a> <br> 
          <a href="#" class="text-light">{{.item4}}</a><br> 
        </ul>
      </div>
      <div class="p-4 col-md-4 text-center">
        <h2 class="mb-4 text-light">Contacto</h2>
        <p class="text-light">+598 00 000 000 </p>
        <p class="text-light">mail@contacto.net </p>
        <p class="text-light">Montevideo, Uruguay </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 mt-3">
        <p class="text-center">© Copyright 2020 Trabecular - Desarrollado por <a href="https://tothemoon.uy" class="text-light"> To The Moon </a> </p>
      </div>
    </div>
  </div>
</div>