<nav class="navbar navbar-expand-md py-4 d-flex justify-content-between">
  <div class="container">
    <img class="img logo" src="{{.logo}}">
    <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse"
      data-target="#navbar10">
      <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="26" height="26" viewBox="0 0 26 26"
        style=" fill:#000000;">
        <path d="M 0 4 L 0 6 L 26 6 L 26 4 Z M 0 12 L 0 14 L 26 14 L 26 12 Z M 0 20 L 0 22 L 26 22 L 26 20 Z"></path>
      </svg>
    </button>
    <div class="collapse navbar-collapse" id="navbar10">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item px-3 text-center"> <a class="nav-link" href="#">{{.item1}}</a> </li>
        <li class="nav-item px-3 text-center"> <a class="nav-link" href="#">{{.item2}}</a> </li>
        <li class="nav-item px-3 text-center"> <a class="nav-link" href="#">{{.item3}}</a> </li>
        <li class="nav-item px-3 text-center"> <a class="nav-link" href="#">{{.item4}}</a> </li>
      </ul>
    </div>
  </div>
</nav>