<div class="row bg-light py-6" >
    <div class="container-fluid ">
        <div class="row">
            <div class="col-md-12 text-center pb-5">
                <h2 class="display-4 strong">{{ .titulo }}</h2>
            </div>
        </div>
      <div class="row">
        <div class="col-xl-3 col-md-6 col-12 py-3 px-sm-5">
          <div class="card h-100"> <img class="img-fluid mx-auto d-block p-5" src="{{.icono1}}" width="50%">
            <div class="card-body">
              <h4 class="card-title">Visita al médico</h4>
              <p class="card-text">El médico es quien hace la prescripción para la férula </p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-md-6 col-12 py-3 px-sm-5">
          <div class="card h-100"> <img class="img-fluid mx-auto d-block p-5" src="{{.icono2}}" width="50%">
            <div class="card-body">
              <h4 class="card-title">Escaneo y Medidas</h4>
              <p class="card-text"> Con la prescripción médica, recibimos al paciente y procedemos a realizar un escaneo del miembro sano contralateral y tomar las medidas pertinentes</p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-md-6 col-12 py-3 px-sm-5">
          <div class="card h-100"> <img class="img-fluid mx-auto d-block p-5" src="{{.icono3}}" width="50%">
            <div class="card-body">
              <h4 class="card-title"> Diseño e impresión</h4>
              <p class="card-text">Mediante un proceso de “espejo”, sobre ese archivo escaneado, se diseña la férula en programa de modelado, conforme a las necesidades del paciente, y luego se imprime en 3D.</p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-md-6 col-12 py-3 px-sm-5">
          <div class="card h-100"> <img class="img-fluid mx-auto d-block p-5" src="{{.icono4}}" width="50%">
            <div class="card-body">
              <h4 class="card-title">Trabajo post impresión</h4>
              <p class="card-text">De ser necesario se realiza un proceso de trabajo manual final que incluye lijado, pulido, laqueado, etc.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
