<div class="py-6">
  <div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-12 px-sm-3 px-md-5">
            <h3 class="my-3">{{ .titulo1 }}</h3>
            {{ range .item1 }}
                <li class="mb-4">{{ .item }}</li>
            {{ end }}
          </div>
       
          <div class="col-lg-6 col-md-12 px-3">
            <h3 class="my-3">{{ .titulo2 }}</h3>
            {{ range .item2 }}
                <li class="mb-4">{{ .item }}</li>
            {{ end }}
          </div>

    </div>
  </div>
</div>


  
