<div class="row bg-light py-6" >
    <div class="container-fluid ">
        <div class="row">
            <div class="col-md-12 text-center pb-5">
                <h2 class="">{{ .titulo }}</h2>
            </div>
        </div>
      <div class="row">
        {{ range .tarjetas }}
        <div class="col-xl-3 col-md-6 col-12 py-3 px-lg-5 px-md-2">
          <div class="card h-100"> <img class="img-fluid d-block px-5 mx-3 " src="{{.icono}}">
            <div class="card-body">
              <h4 class="card-title">{{ .titulo }}</h4>
              <p class="card-text">{{ .texto }}</p>
            </div>
          </div>
        </div>
        {{ end }}
      </div>
    </div>
  </div>
